<style>
  p {
    text-align: center;
  }
</style>
<body>
  <p>aatir works!</p>
  <h1>asa {{ asls }}</h1>
  <!-- block syntax -->
  <h2 [innerText]="no_of_components"></h2>
  <!-- banana syntax -->
  <button (click)= "handleClick()">Do not click</button>
  <div [hidden]="toggleState">bhasad</div>
  <div (change)="handleChange">lets see if this works</div>
<!-- implements conditional rendering at the dom level itself, with [hidden], data available in dom but hidden in the ui, ngif practically removes the element from the dom-->
    <div *ngIf="room.available > 2" >
        displayed conditioned with ngif</div>

</body>
